<footer>
    <div class="footer">
        <ul>

            <li class="footer-icon">
                <a href="https://github.com/tomjmgray" target="_blank"><label for="github-icon">GitHub</label></a>
                <a href="https://github.com/tomjmgray" target="_blank" id="github-icon"><i class="fab fa-github-square"></i></a>
            </li>
            
            <li class="footer-icon">
                <a href="https://www.linkedin.com/in/tom-jm-gray/" target="_blank"><label for="linkedin-icon">LinkedIn</label></a>
                <a href="https://www.linkedin.com/in/tom-jm-gray/" target="_blank" id="linkedin-icon"><i class="fab fa-linkedin"></i></a>
            </li>

            <li class="footer-icon">
                <a href="mailto:tomjmgray96@gmail.com" target="_blank"><label for="email-icon">Email</label></a>
                <a href="mailto:tomjmgray96@gmail.com"><i class="far fa-envelope" id="email-icon"></i></a>
            </li>
            
        </ul>
    </div>
</footer>