<header>
    <div class="header-div">
        <a href="/"><h1>Tom Gray</h1></a>
        <nav>
            <ul>
                
                <li><a href="/projects">Projects</a></li>
                <li><a href="/resume" target="_blank">Resume</a></li>
                <!-- <li><a href="/vineyard">Marocco Gray Vineyards</a></li> -->
                <li><a href="/contact">Contact</a></li>
                

            </ul>
        </nav>  
    </div>
</header>