<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="./css/contact.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="contact">
            <h2>Contact Info</h2>
            <div class="info">
                <h3>Phone Number: (916) 871-8118</h3>
                <h3>Email Address: tomjmgray96@gmail.com</h3>
                <h3>Github Account: <a href="https://github.com/tomjmgray">https://github.com/tomjmgray</a></h3>
                <h3>LinkedIn Profile: <a href="https://www.linkedin.com/in/tom-jm-gray/">https://www.linkedin.com/in/tom-jm-gray/</a></h3>
            </div>
            </div>
    </main>
</body>
</html>