<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tom Gray</title>
</head>
<body>

    <header>
       <nav>
            <ul>
                
                <li><a href="/projects">Projects</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/contact">Contact</a></li>

            </ul>
        </nav> 
    </header>
    
    <main>
        <h1>Tom Gray</h1>
        <h2>About Me</h2>
        <p>Hello! My name is Tom Gray, and I am a Software Developer specializing in Full Stack Web Development.</p>
    </main>

</body>
</html>