<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="./css/project-style.css">
    <title>Projects</title>
</head>
<body>
    
    <%- include('./partials/header') %>

    <main>
        <div class="project" id="project-one">
            <div class="text">
                <h2>Art Blog</h2>
                <p>This was my first major project I worked on during General Assembly, where I was tasked with creating a Full-Stack web application. The site that I built has login authentication, AWS S3 cloud-based image uploading, and was built to client specifications for style and layout.</p> 
            </div>
            <div class="project-images">
                <a href="https://git.generalassemb.ly/ajm9594/Alex-Tom-Blog"><img class="screenshot" src="https://media.git.generalassemb.ly/user/32494/files/3cd64780-5ca4-11eb-809b-59dd5b46d3ef" alt="website screenshot"></a>
                <a href="https://git.generalassemb.ly/ajm9594/Alex-Tom-Blog"><img class="screenshot" src="https://i.imgur.com/aurLlM2.png" alt="website screenshot"></a>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>